@model hotel.Models.dbModels.Habitacione

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Habitacione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoHabitacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoHabitacionNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdHabitacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
